{
  "plugins":[
    'stylelint-declaration-block-no-ignored-properties',
    'stylelint-no-unsupported-browser-features',
    "stylelint-scss",
    'stylelint-prettier'
  ],
  "extends":[
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-recess-order"
  ],
  "rules":{
    'prettier/prettier': true,
    "indentation":2,
    "declaration-block-no-shorthand-property-overrides":true,
    "declaration-colon-newline-after":null,
    "at-rule-no-unknown":[true,{
        "ignoreAtRules":["function","if","for","each","include","mixin","content"]
    }],
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/no-unsupported-browser-features": [
      "true",
      {
        "severity": "warning"
      }
    ],
  }
}